$primary-color: #f5347f; // 主色

// 提交、重置、关闭按钮
$btn-submit: #fec2d6;
$btn-submit-hover: #f5347f;
$btn-reset: #fffacd;
$btn-reset-hover: #ffd700;
$btn-close: #bfefff;
$btn-close-hover: #00bfff;
$btn-connect: #83cbac;
$btn-connect-hover: #229453;

// 背景颜色
$bg-color: rgba(255, 242, 226, 0.3);

// 连接线颜色
$temp-line-color: #cf4813;
$line-color: #685e48;

:root {
  --primary-color: #{$primary-color};
  --temp-line-color: #{$temp-line-color};
  --line-color: #{$line-color};
  --bg-color: #{$bg-color};
}
