#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Muyao-Softbrush", "YunFengHanChanTi", "Microsoft YaHei", Arial,
    Helvetica;
}

.excalidraw {
  --color-on-primary-container: #f5347f !important;
  --color-surface-primary-container: #f7cfdeec !important;
  --color-surface-high: #fdebf2ec !important;
  --button-hover-bg: #fdebf2ec !important;
  --color-primary: #faa2c1 !important;
  --color-primary-darker: #f783ac !important;
  --color-primary-darkest: #e94c83 !important;
  --button-active-border: #f783ac !important;
  --color-primary-light: #fcc2d7 !important;
}

.excalidraw,
.excalidraw * {
  font-family: "Muyao-Softbrush", cursive !important;
}
